{
  "newrelic": {
    "appname": "{{ getenv "NEWRELIC_APP_NAME" }}",
    "key": "{{ getenv "NEWRELIC_LICENSE_KEY" }}"
  },
  "jwt_secret": "{{ getenv "JWT_SECRET" }}",
  "redis": {
    "addr": "{{ getenv "REDIS_ADDR" }}",
    "max_retries": 10,
    "pool_size": 10
  },
  "db": {
    "dialect": "mysql",
    "uri": "{{ getenv "DB_URI" }}",
    "max-idle-connections": 1,
    "max-open-connections": 10,
    "log": true,
    "threads": 4,
    "limit": 500
  }
}